        <!--HOME SECTION START-->
        <div id="home" >
            <div class="container">
                <div class="row">
                    <div class="col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2 col-lg-8 col-lg-offset-2 ">
                        <div id="carousel-slider" data-ride="carousel" class="carousel slide  animate-in" data-anim-type="fade-in-up">
                            <div class="carousel-inner">
                                <div class="item active">
                                    <h3>
                                    Komitmen Kami :
                                    </h3>
                                    <p>
                                        Pertanggungjawaban terbesar adalah kepada Allah SWT
                                    </p>
                                </div>
                                <div class="item">
                                    <h3>
                                    Komitmen Kami :
                                    </h3>
                                    <p>
                                        Mengajak saudara seiman untuk senantiasa berbagi tanpa harus berkecukupan dulu
                                    </p>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row animate-in" data-anim-type="fade-in-up">
                    <div class="col-sm-6 col-sm-offset-3 col-md-6 col-md-offset-3 col-lg-8 col-lg-offset-2 scroll-me">
                        <p >
                            Smart dalam mengelola hal kecil untuk manfaat yang besar di masa depan
                        </p>
                        <div class="social">
                            <a href="#" class="btn button-custom btn-custom-one" ><i class="fa fa-facebook "></i></a>
                            <a href="#" class="btn button-custom btn-custom-one" ><i class="fa fa-twitter"></i></a>
                            <a href="#" class="btn button-custom btn-custom-one" ><i class="fa fa-google-plus "></i></a>
                            <a href="#" class="btn button-custom btn-custom-one" ><i class="fa fa-linkedin "></i></a>
                            <a href="#" class="btn button-custom btn-custom-one" ><i class="fa fa-pinterest "></i></a>
                            <a href="#" class="btn button-custom btn-custom-one" ><i class="fa fa-github "></i></a>
                        </div>
                        <a href="#services" class=" btn button-custom btn-custom-two">See Service List </a>
                    </div>
                </div>
            </div>
        </div>
        <!--HOME SECTION END-->
        <!--SERVICE SECTION START-->
        <section id="services" >
            <div class="container">
                <div class="row text-center header">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 animate-in" data-anim-type="fade-in-up">
                        <h3>Konsep Dasar</h3>
                        <hr />
                    </div>
                </div>
                <div class="row animate-in" data-anim-type="fade-in-up">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="services-wrapper">
                            <i class="ion-document"></i>
                            <img src="">
                            <h3>Penghasilan</h3>
                            Pendapatan anda, baik dari pekerjaan maupun usaha.
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="services-wrapper">
                            <i class="ion-speedometer"></i>
                            <h3>Belanja Kebutuhan Tersier</h3>
                            Harta digunakan untuk kebuhan tersier, gadget baru, makanan mahal, dll.
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="services-wrapper">
                            <i class="ion-scissors"></i>
                            <h3>Kesenangan Sesaat</h3>
                            Hasilnya hanya kesenangan sesaat, gadget akan muncul yang baru dan lebih bagus, makanan hanya numpang lewat.
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="services-wrapper">
                            <i class="ion-document"></i>
                            <h3>Penghasilan</h3>
                            Pendapatan anda, baik dari pekerjaan maupun usaha.
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="services-wrapper">
                            <i class="ion-tshirt-outline"></i>
                            <h3>Smart Berbagi</h3>
                            Penghasilan dititipkan ke Smart Berbagi, yang kemudian digunakan untuk membantu anak yatim mendapatkan pendidikan
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4">
                        <div class="services-wrapper">
                            <i class="ion-calendar"></i>
                            <h3>Kesenangan Abadi</h3>
                            Insya Alloh, bernilai jariah, membantu dan membagagiakan anak-anak yatim
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--SERVICE SECTION END-->
        <!--PRICING SECTION START-->
        <section id="pricing" >
            <div class="container">
                <div class="row text-center header animate-in" data-anim-type="fade-in-up">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h3>Laporan Keuangan</h3>
                        <hr/>
                    </div>
                </div>
                <div class="row pad-bottom animate-in" data-anim-type="fade-in-up">
                    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
                        <div class="row db-padding-btm db-attached">
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                <div class="light-pricing">
                                    <div class="price">
                                        <sup>$</sup>99
                                        <small>per day</small>
                                    </div>
                                    <div class="type">
                                        BASIC
                                    </div>
                                    <ul>
                                        <li><i class="glyphicon glyphicon-print"></i>30+ Accounts </li>
                                        <li><i class="glyphicon glyphicon-time"></i>150+ Projects </li>
                                        <li><i class="glyphicon glyphicon-trash"></i>Lead Required</li>
                                    </ul>
                                    <div class="pricing-footer">
                                        <a href="#" class="btn button-custom btn-custom-one">BOOK ORDER</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                <div class="light-pricing popular">
                                    <div class="price">
                                        <sup>$</sup>199
                                        <small>per month</small>
                                    </div>
                                    <div class="type">
                                        MEDIUM
                                    </div>
                                    <ul>
                                        <li><i class="glyphicon glyphicon-print"></i>30+ Accounts </li>
                                        <li><i class="glyphicon glyphicon-time"></i>150+ Projects </li>
                                        <li><i class="glyphicon glyphicon-trash"></i>Lead Required</li>
                                    </ul>
                                    <div class="pricing-footer">
                                        <a href="#" class="btn button-custom btn-custom-one">BOOK ORDER</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                <div class="light-pricing">
                                    <div class="price">
                                        <sup>$</sup>249
                                        <small>per yer</small>
                                    </div>
                                    <div class="type">
                                        ADVANCE
                                    </div>
                                    <ul>
                                        <li><i class="glyphicon glyphicon-print"></i>30+ Accounts </li>
                                        <li><i class="glyphicon glyphicon-time"></i>150+ Projects </li>
                                        <li><i class="glyphicon glyphicon-trash"></i>Lead Required</li>
                                    </ul>
                                    <div class="pricing-footer">
                                        <a href="#" class="btn button-custom btn-custom-one">BOOK ORDER</a>
                                    </div>
                                </div>
                            </div>
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row animate-in" data-anim-type="fade-in-up">
                    <div class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-10 col-md-offset-1 col-lg-10 col-lg-offset-1">
                    </div>
                </div>
            </div>
        </section>
        <!--PRIICING SECTION END-->
        <!--WORK SECTION START-->
        <section id="work" >
            <div class="container">
                <div class="row text-center header animate-in" data-anim-type="fade-in-up">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h3>Anak Asuh Kami</h3>
                        <hr />
                    </div>
                </div>
                <div class="row text-center animate-in" data-anim-type="fade-in-up" >
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 pad-bottom">
                        <div class="caegories">
                            <a href="#" data-filter="*" class="active btn btn-custom btn-custom-two btn-sm">All</a>
                            <a href="#" data-filter=".sd" class="btn btn-custom btn-custom-two btn-sm">SD</a>
                            <a href="#" data-filter=".smp" class="btn btn-custom btn-custom-two btn-sm">SMP</a>
                            <a href="#" data-filter=".sma" class="btn btn-custom btn-custom-two btn-sm" >SMA</a>
                            <a href="#" data-filter=".pt" class="btn btn-custom btn-custom-two btn-sm" >Perguruan Tinggi</a>
                        </div>
                    </div>
                </div>
                <div class="row text-center animate-in" data-anim-type="fade-in-up" id="work-div">
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 sd">
                        <div class="work-wrapper">
                            <a class="fancybox-media" title="Image Title Goes Here" href="<?php echo base_url(); ?>assets/img/portfolio/1.jpg">
                                <img src="<?php echo base_url(); ?>assets/img/portfolio/1.jpg" class="img-responsive img-rounded" alt="" />
                            </a>
                            <h4>Morbi mollis lectus et ipsum</h4>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 sd smp">
                        <div class="work-wrapper">
                            <a class="fancybox-media" title="Image Title Goes Here" href="<?php echo base_url(); ?>assets/img/portfolio/2.jpg">
                                <img src="<?php echo base_url(); ?>assets/img/portfolio/2.jpg" class="img-responsive img-rounded" alt="" />
                            </a>
                            <h4>Morbi mollis lectus et ipsum</h4>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 sma pt">
                        <div class="work-wrapper">
                            <a class="fancybox-media" title="Image Title Goes Here" href="<?php echo base_url(); ?>assets/img/portfolio/3.jpg">
                                <img src="<?php echo base_url(); ?>assets/img/portfolio/3.jpg" class="img-responsive img-rounded" alt="" />
                            </a>
                            <h4>Morbi mollis lectus et ipsum</h4>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 sd pt">
                        <div class="work-wrapper">
                            <a class="fancybox-media" title="Image Title Goes Here" href="<?php echo base_url(); ?>assets/img/portfolio/4.jpg">
                                <img src="<?php echo base_url(); ?>assets/img/portfolio/4.jpg" class="img-responsive img-rounded" alt="" />
                            </a>
                            <h4>Morbi mollis lectus et ipsum</h4>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 sd sma">
                        <div class="work-wrapper">
                            <a class="fancybox-media" title="Image Title Goes Here" href="<?php echo base_url(); ?>assets/img/portfolio/5.jpg">
                                <img src="<?php echo base_url(); ?>assets/img/portfolio/5.jpg" class="img-responsive img-rounded" alt="" />
                            </a>
                            <h4>Morbi mollis lectus et ipsum</h4>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-4 col-md-4 col-lg-4 pt">
                        <div class="work-wrapper">
                            <a class="fancybox-media" title="Image Title Goes Here" href="<?php echo base_url(); ?>assets/img/portfolio/6.jpg">
                                <img src="<?php echo base_url(); ?>assets/img/portfolio/6.jpg" class="img-responsive img-rounded" alt="" />
                            </a>
                            <h4>Morbi mollis lectus et ipsum</h4>
                        </div>
                    </div>
                </div>
            </div>
        </section>
        <!--WORK SECTION END-->
        <!--TEAM SECTION START-->
        <section id="team" >
            <div class="container">
                <div class="row text-center header animate-in" data-anim-type="fade-in-up">
                    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                        <h3>PEMEGANG AMANAH G-SMART BERBAGI </h3>
                        <hr />
                    </div>
                </div>
                <div class="row animate-in" data-anim-type="fade-in-up">
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                        <div class="team-wrapper">
                            <div class="team-inner" style="background-image: url('images/meivi.jpg')" >
                                <a href="#" target="_blank" > <i class="fa fa-twitter" ></i></a>
                            </div>
                            <div class="description">
                                <h3> Meivi Helvia</h3>
                                <h5> <strong> Ketua </strong></h5>
                                <p>
                                    0813-6409-1092
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                        <div class="team-wrapper">
                            <div class="team-inner" style="background-image: url('images/sapardi.jpg')" >
                                <a href="#" target="_blank" > <i class="fa fa-twitter" ></i></a>
                            </div>
                            <div class="description">
                                <h3> Sapardi Chaniago </h3>
                                <h5> <strong> Wakil Ketua </strong></h5>
                                <p>
                                    0811-7000-403
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                        <div class="team-wrapper">
                            <div class="team-inner" style="background-image: url('images/rahmawita.jpg')" >
                                <a href="#" target="_blank" > <i class="fa fa-twitter" ></i></a>
                            </div>
                            <div class="description">
                                <h3> Rahmawita </h3>
                                <h5> <strong> Keuangan </strong></h5>
                                <p>
                                    0813-6404-9597
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                        <div class="team-wrapper">
                            <div class="team-inner" style="background-image: url('images/mustafa.jpg')" >
                                <a href="#" target="_blank" > <i class="fa fa-twitter" ></i></a>
                            </div>
                            <div class="description">
                                <h3>Mustofa </h3>
                                <h5> <strong> Admin </strong></h5>
                                <p>
                                0877-9101-0195</p>
                            </div>
                        </div>
                    </div>
                    <div class="col-xs-12 col-sm-2 col-md-2 col-lg-2">
                        <div class="team-wrapper">
                            <div class="team-inner" style="background-image: url('images/desriyanti.jpg')" >
                                <a href="#" target="_blank" > <i class="fa fa-twitter" ></i></a>
                            </div>
                            <div class="description">
                                <h3> Dasriyanti </h3>
                                <h5> <strong> Verifikasi </strong></h5>
                                <p>
                                    0812-7056-711
                                </div>
                            </div>
                        </div></div>
                    </div>
                </section>
                <!--TEAM SECTION END-->
                <!--GRID SECTION START-->
                <section id="grid" >
                    <div class="container">
                        <div class="row text-center header animate-in" data-anim-type="fade-in-up">
                            <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
                                <h3>Data Donatur </h3>
                                <hr />
                            </div>
                        </div>
                        
                        <div class="row pad-bottom animate-in" data-anim-type="fade-in-up">
                        <?php foreach ($listDonatur as $donatur){ ?>
                            <div class="col-xs-12 col-sm-3 col-md-3 col-lg-3">
                                <h2><?php echo $donatur->nama_donatur; ?></h2>
                                Alamat   : <?php echo $donatur->alamat; ?></br>
                                Daerah Asal   : <?php echo $donatur->daerah_asal; ?></br>
                                Handphone   : <?php echo $donatur->no_hp; ?></br>
                                Whats Apps   : <?php echo $donatur->wa_number; ?></br>
                                BBM   : <?php echo $donatur->pin_bbm; ?></br>
                                Email   : <?php echo $donatur->email; ?></br>
                            </div>
                        <?php } ?>
                        </div>
                        
                    </div>
                </section>
                <!--GRID SECTION END-->
               